<!-- Import the base page -->
{% extends "imports/base.html" %}

<!-- Add the title of the page and any CSS styling to the base page -->
{% block head %}
<title>PvP</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/pvp.css' ) }}">
{% endblock %}


{% block main %}
<div class="container">
<!-- Left Side: Join Party and Create Party -->
<div class="left-side">
    <h2>Join Party</h2>
    <label for="join-code">Enter Code:</label>
    <input type="text" id="join-code" placeholder="Enter 6-digit code">
    <button class="button" id="join-button">Join Party</button>

    <h2>Generate Party Code</h2>
    <button class="button" id="generate-button">Generate Code</button>
    <p id="generated-code"></p>
</div>

<!-- Right Side: Waiting Room and Start Party -->
<div class="right-side">
    <div class="waiting-room">
    <h3>Waiting Room</h3>
    <ul id="waiting-room-list"></ul>
    </div>

    <button class="button" id="start-button">Start Party</button>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for( 'static', filename='js/pvp_script.js' ) }}"></script>
{% endblock %}


