@import url( "imports/base.css" );
.main-content {
    margin-left: 250px;
    padding: 100px 20px; 
    flex-grow: 1;
    transition: margin-left 0.3s;
}

.main-content.collapsed {
    margin-left: 60px;
}