@import url("imports/base.css");

.container {
    display: flex;
    height: 100vh; /* Make the container take up the full viewport height */
    flex-direction: row;
    overflow: hidden; /* Prevent scrolling */
    align-items: stretch; /* Stretch items to fill the container */
}

.prompt-and-test-cases {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 10px; /* Add padding to the right */
}

.editor-and-config {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px; /* Add padding to the left */
}

.prompt-box, .test {
    flex: 1; /* Make each box take up 50% of the height */
    background: black;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add some space between the boxes */
    overflow: hidden; /* Prevent scrolling */
}

.prompt-box h2, .test h2 {
    color: white;
    margin-top: 0;
}

.prompt-box p, .test p {
    flex-grow: 1; /* Make the content expand to fill the available space */
    margin: 0;
    padding: 10px;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.283);
    border-radius: 5px;
    background: rgb(33, 31, 31);
    overflow: hidden; /* Prevent scrolling */
}

#code {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.283);
    border-radius: 5px;
    background: rgb(33, 31, 31);
    overflow: auto;
    align-self: flex-start; /* Align the textarea with the top of the box */
}
