<!--
Module: qna.html
Creation Date: November 6th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turaga, Connor Forristal

Description:
    This HTML page is for the home section of the application
    which allows the user to traverse through the website, as 
    well as being the starting page for the website.

Sources: W3Schools, Flask Documentation:
-->

{% extends "baseTemplates/base.html" %}
{% block head %}
    <link href="{{ url_for( 'static', filename='css/home.css' ) }}" rel="stylesheet">
{% endblock %}


{% block title %}
    LeetClone
{% endblock %}


{% block content %}
    <!-- PARTICLE EFFECT FOR HOME PAGE -->
    <canvas id="particle-canvas"></canvas>

    <div class="min-vh-100 d-flex">
        <div class="row flex-grow-1 g-0" id="main-cols">
            <div class="col-2">
                <!-- PADDING COLUMN -->
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <a href="{{ "questions" }}">
                    <button type="button" class="btn btn-primary me-2 btn-lg" id="question-btn">Start</button>
                </a>
            </div>
            <div class="col-6">
                hi
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for( 'static', filename='js/particle.js' ) }}"></script>
    <script src="{{ url_for( 'static', filename='home_script.js' ) }}"></script>
{% endblock %}