<!--
Module: qna.html
Creation Date: November 6th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turaga, Connor Forristal

Description:
    This HTML page is for the home section of the application
    which allows the user to traverse through the website, as 
    well as being the starting page for the website.

Sources: W3Schools, Flask Documentation:
-->

<!-- Import the base page -->
{% extends "imports/base.html" %}

<!-- Add the title of the page and any CSS styling to the base page -->
{% block head %}
<title>LeetClone</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/home_style.css' ) }}">
{% endblock %}

<!-- Add the gif and start button to the page -->
{% block main %}
{% block main %}
<div class="content">
    <div class="video-container">
        <div class="start-btn-container">
            <button id="start-btn" class="start-btn">Start</button>
        </div>
        <video id="intro-gif" autoplay muted playsinline>
            <source src="{{url_for('static', filename='images/giff.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% endblock %}

<!-- Add the Home screen javascript -->
{% block scripts %}
<script src="{{ url_for( 'static', filename='js/home_script.js' ) }}"></script>
{% endblock %}

