<!--
Module: pvp.html
Creation Date: November 21th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turaga

Description:
    This page is responsible for determine and handling players
    Joining a muultiplayer room

Sources: W3Schools, Flask Documentation:
-->

<!-- Import the base page -->
{% extends "imports/base.html" %}

<!-- Add the title of the page and any CSS styling to the base page -->
{% block head %}
<title>PvP</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/pvp.css' ) }}">
{% endblock %}


{% block main %}
<div class="container">
<!-- Left Side: Join Party and Create Party -->
<div class="left-side">
    <h2>Join Party</h2>
    <!-- Input for the room code -->
    <label for="join-code">Enter Code:</label>
    <input type="text" id="join-code" placeholder="Enter Room code">

    <!-- Button for joining party -->
    <button class="button" id="join-button">Join Party</button>

    <!-- Dropdown for selecting either hosting or joining -->
    <div class="dropdown">
        <button class="dropdown-button" id="player-type" >Host</button>
        <div class="dropdown-content">
            <p onclick="player_type_on_click( 'Host' )" >Host</p>
            <p onclick="player_type_on_click( 'Join' )" >Join</p>
        </div>
    </div>

    <!-- Dropdown for Selecting the question that the room will take -->
    <div class="dropdown">
        <button class="dropdown-button" id="question-button" value={{ list_of_questions[ 0 ][ 0 ] }}>{{ list_of_questions[ 0 ][ 1 ] }}</button>
        <div class="dropdown-content">
            {% for question in list_of_questions %}
            <p value={{ question[ 0 ] }} onclick="question_vals_on_click( '{{ question[ 1 ] }}', '{{ question[ 0 ] }}' )" >{{ question[ 1 ] }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Right Side: Waiting Room and Start Party -->
<div class="right-side">
    <div class="waiting-room">
    <h3>Waiting Room</h3>
    <ul id="waiting-room-list"></ul>
    </div>

    <button class="button" id="start-button">Start Party</button>
</div>
</div>
{% endblock %}

{% block scripts %}
<!-- Import the scripting required for this page -->
<script src="{{ url_for( 'static', filename='js/pvp_script.js' ) }}"></script>
{% endblock %}
