<!--
Module: pvp.html
Creation Date: November 21th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turaga

Description:
    This page is responsible for determine and handling players
    Joining a muultiplayer room

Sources: W3Schools, Flask Documentation:
-->

<!-- Import the base page -->
{% extends "baseTemplates/base.html" %}

{% block head %}
<link href="{{ url_for( 'static', filename='css/pvp.css' ) }}" rel="stylesheet">
{% endblock %}

{% block title %}
Multiplayer
{% endblock %}

{% block content %}
    <div class="row flex-grow-1 g-0" id="main-cols">
        <div class="col-6 p-4 host-container">

            <!-- PROMPT CONTAINER -->
            <div class="row flex-column h-25 g-0 p-3" id="prompt-row">
                <div class="col-12 pb-2 box-title" id="prompt-title">
                    <span>Join Party</span>
                </div>
                <div class="col-12 flex-grow-1 text-box" id="code-box">
                    <div class="p-3" id="prompt-text">
                        <label for="room-code">Enter Code: </label>
                        <input type="text" id="room-code" />
                        <p>Active Question: <span id="active-question" value="{{ list_of_questions[ 0 ][ 0 ] }}">{{ list_of_questions[ 0 ][ 1 ] }}</span></p>
                    </div>
                </div>
            </div>

            <!-- TEST CONTAINER -->
            <div class="row flex-column h-75 g-0 p-3" id="test-row">
                <div class="col-12 pb-2 box-title" id="test-title">
                    <span>Questions</span>
                </div>
                <div class="col-12 flex-grow-1 question-box question-scroll" id="question-scroll">
                    <div class="p-3" id="test-text">
                        {% for question in list_of_questions %}
                        <span class="question-title" id="{{ question[ 0 ] }}" onclick="question_vals_on_click( '{{ question[ 1 ] }}', '{{ question[ 0 ] }}' )" >{{ question[ 1 ] }}</span><br><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-4 code-container">

            <!-- CODE CONTAINER -->
            <div class="row flex-column h-100 g-0 p-3" id="prompt-div">
                
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <div class="col-6 col-lg-auto me-lg-auto justify-content-center pb-2 box-title" id="code-title">
                        <span>Waiting Room</span>
                    </div>
                    
                    <div class="row code-buttons pe-3">
                        <button type="button" class="btn me-2" id="start-button" onclick="">Start</button>
                    </div>
                </div>

                <div class="col-12 flex-grow-1 text-box" id="code-box">
                    <div class="p-3" id="waiting-room-list">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for( 'static', filename='js/pvp.js' ) }}"></script>    
{% endblock %}
