{% extends "imports/base.html" %}

{% block head %}
<title>Code Executor</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/qna_style.css' ) }}">
{% endblock %}

{% block main %}
<div class="container">
    <div class="prompt-and-test-cases">
        <div class="prompt-box">
            <h2>Prompt</h2>
            <p id="promptText">{{ question_info[ "prompt" ] }}</p>
        </div>
        <div class="test">
            <h2>Test Cases</h2>
            <p id="test-cases">
                {% for case in question_info[ "tests" ] %}
                {{ case }} <br>
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="editor-and-config">
        <div class="select-and-submit">
        <button id="runButton">Run Code</button>
        </div>
        <div class="editor">
            <textarea id="code" placeholder="Write your code here..."></textarea>
        </div>        
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for( 'static', filename='js/qna_script.js' ) }}"></script>
{% endblock %}
