<!--
Module: qna.html
Creation Date: October 26th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turag 

Description:
    This HTML page is for the QNA section of the application,
    which allows users to see and answer the questions that they
    selected

Sources: W3Schools, Flask Documentation:
-->

<!-- Import the base page -->
{% extends "imports/base.html" %}

<!-- Add the title of the page and any CSS styling to the base page -->
{% block head %}
<title>Code Executor</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/qna_style.css' ) }}">
{% endblock %}

<!-- Add the prompt box, tests, and the code editor to the base page -->
{% block main %}
<div class="container">
    <div class="prompt-and-test-cases">
        <div class="prompt-box" id="promptBox">
            <h2>Prompt</h2>
            <p id="promptText">{{ question_info[ "prompt" ] }}</p>
        </div>
        <div class="test">
            <h2>Test Cases and Timing</h2>
            <p id="test-cases">
                {% for i in range( num_of_tests ) %}
                    {% if test_results[ i ] %}
                        <span style="color:green;">{{ question_info[ "test_cases" ][ i ] }} : Pass</span> <br>
                    {% else %}
                        <span style="color:red;">{{ question_info[ "test_cases" ][ i ] }} : Fail</span> <br>
                    {% endif %}
                {% endfor %}
                <span style="color:darkred;">TC: {{tc_data}}</span> <br>
                <span style="color:darkred;">Runtime: {{run_time}}</spban> <br>
            </p>
        </div>
    </div>
    <div class="editor-and-config">
        <div class="select-and-submit">
        <button id="runButton">Run Code</button>
        <div class="dropdown">
            <button class="dropdown-button" id="lang-button">{{ lang }}</button>
            <div class="dropdown-content">
                {% for lang in supported_langs %}
                <p onclick="lang_vals_on_click( '{{ lang }}' )" >{{ lang }}</p>
                {% endfor %}
            </div>
          </div>
        </div>
        <div class="editor">
            <textarea id="code" placeholder="Write your code here..." value="{{ question_info[ 'starter_code' ] }}" >{{ question_info[ "starter_code" ] }}</textarea>
        </div>        
    </div>
</div>
{% endblock %}

<!-- Add the QNA callbacks to the base page -->
{% block scripts %}
<script src="{{ url_for( 'static', filename='js/qna_script.js' ) }}"></script>
{% endblock %}
