{% extends "imports/base.html" %}

{% block head %}
<title>Questions</title>
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/questions.css' ) }}">
{% endblock %}

{% block main %}
<div class="content">
    <div class="questions-container">
        <ul id="questions-list">
            {% for question in all_questions %}
            <li onclick="gotoQuestion( '{{ question[ 0 ] }}' )" class="question-item">{{ question[ 1 ] }}<div class="question-popup">{{ question[ 2 ] }}</div></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for( 'static', filename='js/question_script.js' ) }}"></script>
{% endblock %}
