<!--
Module: qna.html
Creation Date: November 6th, 2024
Author: Clare Channel
Contributors: Clare Channel, Manoj Turaga

Description:
    This HTML page is for the Questions section of the application
    which allows the user to select which question they want to
    answer

Sources: W3Schools, Flask Documentation:
-->

<!-- Import the base page -->
{% extends "baseTemplates/base.html" %}

{% block head %}
    <link href="{{ url_for( 'static', filename='css/questions.css' ) }}" rel="stylesheet">
{% endblock %}

{% block title %}
    Questions
{% endblock %}

{% block content %}
    <div class="row flex-grow-1 g-0" id="main-cols">
        {% for question in all_questions %}
        <div class="col-12 p-4 questions-container">

            <!-- PROMPT CONTAINER -->
            <div class="row flex-column g-0 p-3 question-row">
                <a onclick="gotoQuestion( '{{ question[ 0 ] }}' )">
                    <div class="col-12 pt-2 pb-2 ps-4 question-title">
                        <span>{{ question[ 1 ] }}</span>
                    </div>
                </a>
                <div class="col-12 flex-grow-1 question-box">
                    <div class="p-3 ps-4 pe-4 h-100 question-text">
                        {{ question[ 2 ] }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for( 'static', filename='js/questions_script.js' ) }}"></script>
{% endblock %}
