@use "baseScss/global";
@use "baseScss/mixins";

.text-box
{
    @include mixins.text-boxes();
}

.box-title
{
    @include mixins.header-fonts();
}

.lang-select
{
    background-color: global.$bgcolor;
    color: global.$textcolor;
    font-family: global.$buttonfont;
    border-width: 0.15em;
    border-color: global.$textcolor;

    option
    {
        color: global.$textcolor;
        font-family: global.$buttonfont;
    }
    
}

.code-buttons
{
    button 
    {
        font-family: global.$buttonfont;
        color: global.$textcolor;

        background-color: transparent;
        border-color: global.$textcolor;
        border-width: 0.15em;

        &:hover 
        {
            color: global.$textcolor;
            box-shadow: inset 0em 0em 1.5em 0em global.$textcolor;
        }

        &:active
        {
            background-color: global.$accentcolor2;
            border-color: global.$accentcolor2;
            color: global.$bgcolor;
            box-shadow: none;
        }

        &:active:focus
        {
            background-color: global.$accentcolor2;
            border-color: global.$accentcolor2;
            color: global.$bgcolor;
            box-shadow: none;
        }

        &:focus
        {
            background-color: global.$accentcolor2;
            border-color: global.$accentcolor2;
            color: global.$bgcolor;
            box-shadow: none;
        }
    } 
}


/* The following are styles for the loading circle from chat gpt*/
body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Make the circle red and complete a spin every second */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid global.$bgcolor;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
